/*common*/
html, body, button, h1, p, a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
  background-color: #edf2f3;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #3783d4;
}

a:hover {
  color: #114986; 
}

h1,h2,h3,p,figure{
  margin: 0;
}

h1, h2{
  font-weight: bold;
}

h1{
  font-size: 2rem;
}

h2{
  margin-top: 1rem;
  font-size: 1.3rem;
}

p, li{
  margin-top: 0.7rem;
  font-size: 0.7rem;
}

.navbar {
  background-color: #22262a; 
}

.name-mks{
  color: white;
}


.big-img {
  position: relative;
  width: 100%;
}

.big-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-overlay {
  text-align: left;
  padding: 1rem;
  background-color: rgba(0, 73, 128, 0.8); 
  color: white;
}

.about-pic{
  width: 200px;  
  height: 200px;  
  object-fit: cover;
}

.contact h2{
  margin-top: 3rem;
}

.cv p{
  margin-top: 1.5rem;
}

.cv-button{
  margin-top: 2rem;
  margin-left: 3rem;
}

/* Bigger screen */
@media (min-width: 769px) {
  .big-img {
      position: relative;
  }
  .text-overlay {
      position: absolute;
      top: 22%;  
      left: 30%;
      padding: 1rem;
      border-radius: 15px;
  }
  .text-overlay p{
    font-size: 1.5rem;
  }
}

.about-text h1{
  margin-top: 1rem;
}

/* Mobile screen */
@media (max-width: 768px) {
  .text-overlay {
      position: relative;  
      padding: 1rem;
      font-size: 1rem; 
  }
}
